{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="flex items-center">
    <svg width="174" height="22" viewBox="0 0 174 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.2773 12.8262C18.5742 14.7598 16.377 15.2285 13.7402 15.2285C10.6055 15.1846 7.93945 14.5986 7.9834 11.3906V10.9072C7.93945 7.66992 10.6055 7.11328 13.7402 7.06934C16.377 7.06934 18.5596 7.52344 19.2773 9.45703H27.1436C26.6602 2.82129 20.8301 0.829102 13.7402 0.814453C6.35742 0.84375 0.263672 2.98242 0.292969 10.4238V11.8594C0.263672 19.3154 6.35742 21.4541 13.7402 21.4688C20.8301 21.4688 26.6602 19.4766 27.1436 12.8262H19.2773ZM44.5682 7.02539L47.2635 12.8408H41.8582L44.5682 7.02539ZM29.4363 21.0146H38.0789L39.6316 17.6455H49.49L51.0428 21.0146H59.6854L49.1238 1.32715H39.9979L29.4363 21.0146ZM74.8541 21.0146V7.56738H83.9801V1.32715H58.0523V7.56738H67.1783V21.0146H74.8541ZM97.4643 7.02539L100.16 12.8408H94.7543L97.4643 7.02539ZM82.3324 21.0146H90.975L92.5277 17.6455H102.386L103.939 21.0146H112.581L102.02 1.32715H92.8939L82.3324 21.0146ZM133.771 12.8262C133.068 14.7598 130.87 15.2285 128.234 15.2285C125.099 15.1846 122.433 14.5986 122.477 11.3906V10.9072C122.433 7.66992 125.099 7.11328 128.234 7.06934C130.87 7.06934 133.053 7.52344 133.771 9.45703H141.637C141.154 2.82129 135.323 0.829102 128.234 0.814453C120.851 0.84375 114.757 2.98242 114.786 10.4238V11.8594C114.757 19.3154 120.851 21.4541 128.234 21.4688C135.323 21.4688 141.154 19.4766 141.637 12.8262H133.771ZM160.453 0.814453C153.041 0.829102 146.977 2.96777 147.006 10.4238V11.8594C146.977 19.3008 153.041 21.4541 160.453 21.4688C167.851 21.4541 173.915 19.3008 173.886 11.8594V10.4238C173.886 2.98242 167.865 0.814453 160.453 0.814453ZM166.21 11.376C166.254 14.5986 163.588 15.1846 160.453 15.2285C157.304 15.1846 154.638 14.5986 154.682 11.376V10.8926C154.638 7.68457 157.304 7.09863 160.453 7.05469C163.588 7.09863 166.254 7.68457 166.21 10.8926V11.376Z" fill="black"/>
    </svg>
  </div>
{% endblock %}
