{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <ul class="list-none flex space-x-4 my-social">
    <li>
      <a href="{{ content.field_twitter[0]['#url'] }}">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" r="16" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5641 11.9293C22.0814 12.1434 21.5616 12.2881 21.0171 12.3537C21.5732 12.0199 22.0003 11.4927 22.2011 10.864C21.6805 11.1726 21.1044 11.3966 20.4904 11.517C19.9992 10.9936 19.2994 10.6667 18.5248 10.6667C17.0373 10.6667 15.8309 11.8721 15.8309 13.3595C15.8309 13.5713 15.8556 13.7762 15.9011 13.9736C13.6629 13.8616 11.6788 12.7887 10.3503 11.1597C10.1179 11.5574 9.9858 12.0199 9.9858 12.5137C9.9858 13.4478 10.4616 14.2723 11.1837 14.7546C10.7419 14.7409 10.3264 14.6197 9.96418 14.4178C9.96418 14.4292 9.96418 14.4407 9.96418 14.4521C9.96418 15.7566 10.8918 16.8447 12.1244 17.0923C11.8981 17.154 11.661 17.1868 11.4146 17.1868C11.2416 17.1868 11.0725 17.17 10.908 17.138C11.2509 18.2078 12.2457 18.9865 13.4243 19.0086C12.5021 19.7302 11.3405 20.1607 10.0785 20.1607C9.86146 20.1607 9.64675 20.1485 9.4359 20.1234C10.6276 20.8876 12.0433 21.3334 13.5648 21.3334C18.5186 21.3334 21.228 17.2302 21.228 13.6719C21.228 13.5545 21.2249 13.4395 21.2202 13.3236C21.7462 12.9442 22.2034 12.4695 22.5641 11.93V11.9293V11.9293Z" fill="white"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="{{ content.field_instagram[0]['#url'] }}">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" r="16" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8249 13.6604H10.4424V21.3333H12.8249V13.6604ZM13.0197 11.2299C13.0197 10.4671 12.3997 9.84613 11.6381 9.84613C10.872 9.84613 10.2564 10.4671 10.2564 11.2299C10.2564 11.9928 10.872 12.6137 11.6381 12.6137C12.3997 12.6137 13.0197 11.9928 13.0197 11.2299ZM16.6023 13.6604H14.3261V21.3333H16.7041V17.5368C16.7041 16.5388 16.8901 15.5675 18.13 15.5675C19.3523 15.5675 19.3656 16.7118 19.3656 17.6033V21.3333H21.7436V17.1287C21.7436 15.0619 21.2963 13.4741 18.8873 13.4741C17.7271 13.4741 16.9521 14.1083 16.6333 14.7115H16.6023V13.6604Z" fill="white"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="{{ content.field_linkedin[0]['#url'] }}">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" r="16" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.819 9.02563H13.181C10.8897 9.02563 9.02564 10.8897 9.02564 13.181V18.819C9.02564 21.1103 10.8897 22.9744 13.181 22.9744H18.819C21.1103 22.9744 22.9744 21.1103 22.9744 18.819V13.181C22.9743 10.8897 21.1102 9.02563 18.819 9.02563ZM21.5711 18.819C21.5711 20.3389 20.3389 21.5711 18.819 21.5711H13.1811C11.6611 21.5711 10.4289 20.3389 10.4289 18.819V13.181C10.4289 11.6611 11.6611 10.4289 13.1811 10.4289H18.819C20.3389 10.4289 21.5711 11.6611 21.5711 13.181V18.819ZM12.3924 16C12.3924 14.0108 14.0108 12.3924 16 12.3924C17.9893 12.3924 19.6076 14.0107 19.6076 16C19.6076 17.9892 17.9893 19.6076 16 19.6076C14.0108 19.6076 12.3924 17.9892 12.3924 16ZM16 18.2044C14.7825 18.2044 13.7956 17.2175 13.7956 16C13.7956 14.7825 14.7826 13.7956 16 13.7956C17.2175 13.7956 18.2044 14.7825 18.2044 16C18.2044 17.2174 17.2175 18.2044 16 18.2044ZM19.6146 13.2839C20.0921 13.2839 20.4791 12.8969 20.4791 12.4195C20.4791 11.942 20.0921 11.555 19.6146 11.555C19.1372 11.555 18.7502 11.942 18.7502 12.4195C18.7502 12.8969 19.1372 13.2839 19.6146 13.2839Z" fill="white"/>
        </svg>
      </a>
    </li>
  </ul>

{% endblock %}
